body{

font-family:Arial;
background:#f4f6fa;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}


.login-box{

background:white;

padding:40px;

border-radius:10px;

box-shadow:0 5px 20px rgba(0,0,0,0.3);

text-align:center;

}


input{

width:100%;

padding:10px;

margin:10px 0;

border:1px solid #ccc;

border-radius:5px;

}


button{

background:#27ae60;
color:white;

border:none;

padding:10px 20px;

border-radius:20px;

cursor:pointer;

}
