body{

margin:0;
font-family:Arial;

background:url("/static/images/milk-bg.jpg");
background-size:cover;
background-position:center;

}


/* DARK OVERLAY */

.overlay{

background:rgba(0,0,0,0.5);
height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}


/* FORM BOX */

.form-box{

background:white;

padding:40px;

border-radius:10px;

width:350px;

text-align:center;

box-shadow:0px 5px 20px rgba(0,0,0,0.4);

}


.form-box h2{

margin-bottom:5px;

}


.form-box h3{

margin-top:0;
color:#27ae60;

}


input,textarea,select{

width:100%;

padding:10px;

margin:10px 0;

border-radius:5px;

border:1px solid #ccc;

}


/* NEXT BUTTON */

.next-btn{

background:#27ae60;

color:white;

border:none;

padding:12px;

width:100%;

border-radius:25px;

font-size:16px;

cursor:pointer;

}


/* FOOTER */

footer{

position:absolute;

bottom:20px;

color:white;

font-size:18px;

}
