body{

font-family:Arial;
text-align:center;
background:#f5f6fa;

}

.title{

margin-top:50px;

}

.payment-box{

background:white;

width:350px;

margin:auto;

padding:30px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.3);

}

.btns{

display:flex;
justify-content:space-between;

}

button{

padding:12px 20px;
border:none;
border-radius:20px;
cursor:pointer;

}

.cash{

background:#27ae60;
color:white;

}

.online{

background:#2980b9;
color:white;

}
