<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Contact Us</title>

<link rel="stylesheet" href="/static/css/details.css">

</head>

<body>


<!-- HEADER -->

<h1 class="title">Contact Us</h1>



<!-- TABLE -->

<div class="table-box">



<br><br>


<p><b>For Enquiry :</b> 6384229507</p>

<p><b>For Report :</b> 9751381508</p>



<br>


<p><b>Office Location :</b></p>

<p>
Su. Keenanur,<br>
South Street,<br>
Gopalapuram (Post),<br>
Virudhachalam (TK),<br>
Cuddalore (District),<br>
Pincode : 606103
</p>

<table border="1" cellpadding="10">

<tr>
<th></th>
<th></th>
</tr>

<tr>
<td>Founder</td>
<td>Mugilan</td>
</tr>

<tr>
<td>CEO</td>
<td>SabariRaja</td>
</tr>

<tr>
<th colspan="1">Email</th>
<th></th>
</tr>

<tr>

<td>mugilr2@gmail.com</td>
<td>sabarimugil1@gmail.com</td>
</tr>

<tr>


</tr>

</table>

</div>



<!-- FOOTER -->

<footer>

<p>உங்கள் ஆதரவு தான் எங்கள் வலிமை – நன்றி!</p>

<p>Your support is our strength – Thank you!</p>

</footer>


</body>

</html>
